torch==2.10.0
transformer-lens==3.3.0
transformers==4.51.3
datasets==3.5.0
huggingface-hub==0.30.2
einops==0.8.1
jaxtyping==0.2.38
matplotlib==3.10.1
seaborn==0.13.2
pandas==2.2.3
numpy==2.2.4
tqdm==4.67.1
jupyter==1.1.1
ipywidgets==8.1.5
typeguard==2.13.3